h1 {
}
header {
    display: inline;
    margin-top: 20vh;
}

#wrapper {
    width: 90vw;
    max-width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color: #808080;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#boardwrapper {
    display: flex;
    flex-direction: column;
    border: 0.5px solid #595959;
    background-color: #cccccc;
    max-width: 50vw;
    max-height: 40vh;
    align-content: center;
    justify-content: center;
    margin-top: 10vh;
}
td {
    height: 5vh;
    width: 5vw;
    border: 1px solid #595959;
    gap: 0.5px;
}
table {
    table-layout: fixed;
    width: 26vw;
    height: 26vh;
    empty-cells: show;
}

.square {
    height: 5vh;
    width: 5vw;
    border: 1px solid #595959;
    gap: 0.5px;
}   

bottom {
    display: flex; 
    justify-content: center;  
  }
#replay {
    font-size: 2vmin;
    display: ;
    text-align: center;
    font-weight: bold;
    width: 14vw;
    height: 4vh;
    padding: 2vmin;
    margin-top: 6vmin;
    border: .3vmin solid grey;
    color: grey;
    border-radius: 2vmin;
    outline: none;
    cursor: pointer;
  }
  #replay:active {
      box-shadow: inset 0px 0px 5px #c1c1c1;
      outline: none;
  }

#replay:hover {
    background-color: grey;
    color: white;
  }