@font-face {
    font-family: digitalclock;
    src: url('./digital-7.ttf') format('truetype');
}
body {
    background-color: #00807F;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
header {
    display: inline;
    margin-top: 20vh;
}
#mycomputer {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
#bar {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background-color: #808080;
    max-width: 50vw;
    border: 2px solid;
    border-color: #c0c0c0;
}
#wrapper {
    width: 50vw;
    max-width: 50vw;
    height: 10vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-color: #c0c0c0;
    background-color: #020c7e;
    color: white;
}

#timer {
    font-family: digitalclock;
    color: #911313;
    font-size: 4vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boardwrapper {
    border: 2px solid;
    border-color: #595959;
    background-color: #909090;
    max-width: 50vw;
    max-height: 40vh;
    width: 50vw;
    height: 40vh;
    align-content: center;
    justify-content: center;
}

table {
    table-layout: fixed;
    empty-cells: show;
    width: 50vw;
    height: 40vh;
    padding-top: 0;
    padding-bottom: 0;
}

.square {
    max-height: 2.2vh;
    max-width: 2.2vw;
    border: 0.5px solid #595959;
    background-color: #c0c0c0;
    gap: 0.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    text-align: center;
    vertical-align: center;
}
#msg {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.5vh;
    color: white
}
bottom {
    display: inline;
    bottom: 0;
  }
#homebar {
    width: 100%;
    height: 5vh;
    background-color: #c0c0c0;
    border: 3px;
    border-color: #404040;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 10px;
}
#replay {
    font-size: 2vmin;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    width: 14vw;
    height: 4vh;
    padding: 2vmin;
    margin-top: 6vmin;
    border: .3vmin solid grey;
    color: grey;
    border-radius: 2vmin;
    outline: none;
    cursor: pointer;
  }

#replay:active {
      box-shadow: inset 0px 0px 5px #c1c1c1;
      outline: none;
  }

#replay:hover {
    background-color: grey;
    color: white;
  }